/*
Awakelab
Full Stack Python 2020
*/

h1, h2, h3, h4, h5, h6, .navbar { 
    font-family: 'Poiret One', cursive;
}

#lista-guitarras > div >  h3 {
    color: white;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar a {
    font-weight: bold;
}

.navbar-dark {
    background-color:black;
}


#base {
    padding-top: 60px;
    min-height: 700px;
}

#mensaje {
    background-color: white; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    border: red 1px solid;
    border-radius: 5px;
    width: 40%;
    color: black;
    position:absolute;
    left:50%;
}



