{% extends "base.html" %}

{% block contenidos %}

<h1>Pagina Crear Guitarras con DB y clase View</h1>

<form action="" method="POST" novalidate>
    {% csrf_token %}
    <table>
        {{formulario.as_table}}
    </table>
    <input type="hidden" name="elemento" value="guitarra">
    <input type="submit" value="Crear">
</form>
<hr>
    <!-- Section: Competencias -->
    <div class="container-fluid bg-dark" id="lista-guitarras">
        <div class="row">
            <h3>Listado de Guitarras Actuales</h3>
        </div>
        <div class="row">
            {% for guitarra in lista_guitarras %}
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <h3 class="card-header">Guitarra N° {{guitarra.id}}</h3>
                    <div class="card-body">
                        <h4 class="card-title">{{guitarra.marca}}</h4>
                        <p class="card-text">{{guitarra.modelo}}</p>
                        <p class="card-text">{{guitarra.cuerdas}}</p>
                        <p class="card-text">{{guitarra.fecha_compra}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Section: Competencias -->
{% endblock %}